
@model List<Encabezado_Detalle.Models.cot_cotizacion_item>

<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detalle in Model)
        {
            <tr>
                <td>@detalle.ProductoNombre</td>
                <td>@detalle.Cantidad</td>
                <td>@detalle.Precio</td>
            </tr>
        }
    </tbody>
</table>