@model List<Encabezado_Detalle.Models.cot_cotizacion> 
@{
    ViewData["Title"] = "Listar Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lists Invoice</h2>
<div class="row-4" style="text-align:right;padding:5px">
    <a href="~/home/vCrearCotizacion" class="btn btn-primary" /> Create New Invoice <a />
    <!-- Boton -->
    <input type="button" class="btn btn-primary" value="create selected PDFs" onclick="_crearPDF_global()" />
    
</div>
<div class="row">
    <div class=" col-md-12">
        <div>
            <div class="container" style="margin:inherit">
                <!-- datetimePicker de inicio y fin -->
                <div class="row form-group">
                    <label class="col-sm-1" style="padding-right: 0px; padding-left: 0px">Inicio</label>
                    <div class='input-group date col-sm-2' id='datetimeInicio'>
                        <input type='text' class="form-control" id="fechaInicio" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <label class="col-sm-1" style="padding-right:0px">Fin</label>
                    <div class='input-group date col-sm-2' id='datetimeFin'>
                        <input type='text' class="form-control" id="fechaFin" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <!-- Boton -->
                    <div class="col-sm-3">
                         <input type="button" class="btn btn-primary btn-sm" value="Buscar" onclick="Buscar()" data-toggle="modal" data-target="#exampleModalCenter" />
                       
                    </div>
                </div>
            </div>
            <!-- Table de Datos -->
            <table id="tablaDatos" class="table table-striped table-responsive" style="font-size:11px;width:100%; display:inline-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Customer</th>
                        <th>Adress</th>
                        <th>Telephone</th>
                        <th>Po#</th>
                        <th>Total</th>
                        <th>Details</th>  
                    </tr>

                </thead>
                <tbody>
                    <!-- Los datos se llenarán aquí -->
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fadeOut" id="idModalDetalle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="width:auto">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Details Invoice</strong></h5>
            </div>
            <div class="modal-body">
                <h5>Popover in a modal</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Wait Modal -->
<div id="waitModal" class="modal" style="display:none; overflow-y:hidden">
    <div class="modal-content" style="margin-top:14%">
        <p id="idMensaje" style="text-align:center">  Espere por favor...  </p>
    </div>
</div>

@section scripts
{
    <!-- Referencias -->
     
   
    <!-- Codigo para Cerrar el Modal al dar clic en Cerrar -->
    <script>
        document.querySelector('button[data-dismiss="modal"]').addEventListener('click', function () {
            $('#idModalDetalle').modal('hide'); // Usando jQuery para cerrar el modal
        });
    </script>
    <!-- Fin codigo para Cerrar el Modal al dar clic en Cerrar -->
    <!-- Inicializa los campos fecha, sin este codigo no funciona -->
    <script type="text/javascript">
              $(function () {
            var primerDiaMes = new Date(new Date().getFullYear(), new Date().getMonth(), 1, 0, 0, 0);
            var fechaActual = new Date();
            $('#datetimeInicio').datetimepicker({
                defaultDate: primerDiaMes,
                format: "MM/DD/YYYY"
            });
            $('#datetimeFin').datetimepicker({
                defaultDate: fechaActual,
                format: "MM/DD/YYYY"
            });
        });
    </script>
    <!-- Fin de campos Fecha -->
    <script>
        // Inicializa la tabla DataTables UNA sola vez
        $(document).ready(function () {
            $('#tablaDatos').DataTable({
                searching: true, // Habilitar búsqueda
                paging: true,    // Habilitar paginación
                info: true,      // Mostrar información de filas
                responsive: true, // Hacer la tabla responsive
                columnDefs:  //Personaliza las columnas
                    [
                        {
                            "target": 0,
                            "searchable": true,
                            width: "5%"
                        },
                        {
                            target: 1,
                            width: "10%"
                        },
                        {
                            "target": 2,
                            "searchable": true,
                            width: "20%"
                        },
                        {
                            target: 3,
                            width: "30%"
                        },
                        {
                            target: 4,
                            width: "00%"
                        },
                        {
                            target: 5,
                            width: "5%"

                        },
                        {
                            target: 6,
                            width: "4%"
                        },

                        {
                            target: 7,
                            width: "10%"
                        }
                    ],
            });
        });
    </script>
  
    <script>
        
        //funcion buscar funcionando
        // Función para buscar y actualizar la tabla
        function Buscar() {
            var fechaInicio = document.getElementById('fechaInicio').value;
            var fechaFin = document.getElementById('fechaFin').value;

            $.ajax({
                url: '/cCotizacion/Listar?inicio=' + fechaInicio + '&fin=' + fechaFin, // Asegúrate de que la URL sea correcta
                type: 'GET',
                success: function (response) {
                    // Notificación de éxito
                    $.notify("Data Cargada Correctamente", "success");

                    // Obtiene la instancia de DataTable
                    var tabla = $('#tablaDatos').DataTable();

                    // Limpia los datos existentes
                    tabla.clear();

                    // Itera sobre los datos recibidos y los agrega a la tabla
                    response.forEach(function (item) {
                        tabla.row.add([
                            item.Id,
                            item.fecha,
                            item.nombres,
                            item.direccion,
                            item.Telefono,
                            item.Po,
                            item.Total,
                            '<a href="#" onclick="Detalles(' + item.Id + ')" <i class="fa fa-list-alt" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp; <a href="#" onclick="_crearPDF(' + item.Id + ')" <i class="fa fa-file" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp; <input type="checkbox" name="idsSeleccionados" value="' + item.Id + '" />'
                            //'<a href="#" onclick="Detalles(' + item.Id + ')" <i class="fa fa-list-alt" aria-hidden="true"></i></a> &nbsp;&nbsp;&nbsp; <a href="#" onclick="_crearPDF(' + item.Id + ')" <i class="fa fa-file" aria-hidden="true"></i></a>'
                        ]);
                    });

                    // Redibuja la tabla con los nuevos datos
                    tabla.draw();
                },
                error: function (xhr, status, error) {
                    console.error('Error al obtener los datos:', error);
                    // Notificación de error
                    $.notify("Error al cargar los datos", "error");
                }
            });
        }

        //fin funcion buscar
        //Codigo para el Modal
        function Detalles(id) {
           
            $.ajax(
                {
                    type: "GET",
                    url: '@Url.Action("GetDetalleReporte", "cCotizacion")?id=' + id, //llama el procedimiento para el detalle
                    success: function (response) {
                        // Notificación de éxito
                        $.notify("Detalle Correctamente", "success");
                        var detalles = JSON.parse(JSON.stringify(response));// asigna a una variable el resultado
                        var htmlTableBody = "";
                        //crea el detalle para el modal
                        detalles.forEach(
                            (element) => htmlTableBody = htmlTableBody + "<tr><td><di>" + element.Fecha + "</di></td><td><di>" + element.Store + "</di></td><td><di>" +  element.ProductoNombre + "</di></td><td><di>" + element.Cantidad + "</di></td><td><di>" + element.Precio + "</di></td></tr > "
                        );
                        var myModal = new bootstrap.Modal(document.getElementById("idModalDetalle"));
                        //coloca la data en el modal
                        $(".modal-body").html("<div><h5><strong>Invoice </strong>" + id + "</h5></div><div><table id='idDetalles' class='table table - striped table - bordered' style='width: 100 %'><thead><tr><th>Date</th><th>Store</th><th>Description</th><th>Sku</th><th>Amount</th></tr></thead><tbody>" + htmlTableBody + "</tbody></table></div>");
                        myModal.show();
                        //console.log(detalles);
                    }
                  
                }
            );
        }
        //fin Codigo para el Modal
        
    </script>
    <script>
        //Inicio de creacion PDF desde el Reporte/boton tipo icono para crear pdf
        function _crearPDF(Id)
        {   //Pregunta si en Id viene el id del invoice caso contrario no sigue
            if (!Id) {
                alert('ID de cotización no especificado.');
                return;
            }
            //Proceso ajax para llamar al controlador enviandole un parametro y me devuelve un resultado
            try {
                $.ajax({
                    url: '/Home/GeneraPDF_Listado?id=' + Id, // Ruta correcta
                    type:'GET',
                    success: function (data) {
                        console.log(data.respuesta)
                        console.log(data.pdfUrl)
                        if (data.respuesta && data.pdfUrl) {
                            $.notify("PDF generado correctamente.", "success");
                            // Abrir el PDF en una nueva pestaña
                            window.open(data.pdfUrl, '_blank');
                        } else {
                            $.notify(data.mensaje || "Error al generar el PDF.", "error");
                           
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al obtener los datos AJAX:', error);
                        // Notificación de error
                        $.notify("Error al cargar los datos AJAX", "error");
                    }
                });
            } catch (error) {
                console.error('Error:', error);
                alert('Ocurrió un error al procesar la solicitud TRY CATCH.');
            }
                       
        }
        //fin de creacion PDF desde el Reporte/boton tipo icono para crear pdf
    </script>
    <script>
        //Inicio de creacion PDF desde el Reporte/boton tipo icono para crear pdf segun los seleccionados
        function _crearPDF_global() {
            // Recolecta los IDs de las transacciones marcadas
            var selectedIds = [];
            $('input[name="idsSeleccionados"]:checked').each(function () {
                selectedIds.push($(this).val());
            });
            console.log(selectedIds.join(','));
            // Si no hay transacciones seleccionadas, muestra un mensaje y sale de la función
            if (selectedIds.length === 0) {
                alert('No se han seleccionado transacciones.');
                return;
            }

            // Proceso AJAX para llamar al controlador enviando los IDs de las transacciones seleccionadas
            try {
                $.ajax({
                    url: '/Home/GeneraPDF_Glo', // Ruta del controlador
                    type: 'GET',
                    data: { ids: selectedIds.join(',') }, // Pasamos los IDs como una cadena separada por comas
                    success: function (data) {
                        
                        if (data.pdfUrl) {
                            $.notify("PDF generado correctamente.", "success");
                            // Abrir el PDF en una nueva pestaña
                            window.open(data.pdfUrl, '_blank');
                        } else {
                            $.notify(data.mensaje || "Error al generar el PDF.", "error");
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Error al obtener los datos AJAX:', error);
                        // Notificación de error
                        $.notify("Error al cargar los datos AJAX", "error");
                    }
                });
            } catch (error) {
                console.error('Error:', error);
                alert('Ocurrió un error al procesar la solicitud TRY CATCH.');
            }
        }

    </script>
    
       
}